<button (click)="this.createChart()">Generate chart</button>
<table class="chart" align = "center">
  <tr>
      <td colspan = 2><canvas id="canvas" style ="width:100px">{{ this.chart }}</canvas><td>
  </tr>
</table>
<div>
    <table class="table table-bordered table-sm">
      <tr class="table-primary">
        <th>Team</th>
        <th>Match Number</th>
        <th>High Made</th>
      </tr>

      <tr *ngFor="let m of getMatches()">
        <td>{{ m.teamId }}</td>
        <td>{{ m.matchNumber }}</td>
        <td>{{ m.teleopMidGoals + m.teleopHighGoals}}</td>
      </tr>
    </table>

  </div>
